/** Layout **/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  main {
    flex: 1 0 auto;

    .container {
      margin: 0 auto;
      max-width: 1368px;
      padding: 0 1rem;
    }
  }
}
