@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media only screen and (max-width: 2560px) {
  .page {
    width: 80%;
  }

  .single {
    width: 70%;
  }

  .archive {
    width: 60%;
  }

  #header-desktop .header-wrapper {
    padding: 0 1rem;
  }

  .home[data-home="posts"] {
    .summary {
      min-height: 30.5rem;
    }
  }
}

@media only screen and (max-width: 1920px) {
  .home[data-home="posts"] {
    .summary {
      min-height: 27rem;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .home[data-home="posts"] {
    .summary {
      min-height: 24rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .archive {
    width: 56%;
  }

  .home[data-home="posts"] {
    .summary {
      min-height: 23rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  
  .archive {
    display: block;
    width: 52%;
    margin: 0 auto;
  }

  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page,
  .single {
    width: 85%;
    margin: 0 auto;

    .categories-card {
      .card-item {
        width: 85%;
        min-height: 10rem;
        .card-item-wrapper {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .home[data-home="posts"] {
    .summary {
      min-height: 22rem;
    }
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  .home[data-home="posts"] {
    .summary {
      width: 100%;
      min-height: 0;
    }
  }

  .home {
    .home-menu {
      text-align: center;
      width: 100%;

      &::before {
        width: 0px;
      }

      .menu-item {
        width: 100%;
        border-left: none;
        padding: 0.4rem 1.3rem 0.4rem 2.1rem;

        [theme="dark"] & {
          border-left: none;
          padding: 0.4rem 1.3rem 0.4rem 2.1rem;
        }
        
        &:hover {
          background: linear-gradient(
            90deg,
            $global-background-color 0%,
            $global-border-color 25%,
            $global-border-color 75%,
            $global-background-color 100%
          );
          padding: 0.4rem 1.3rem 0.4rem 2.1rem;
          border-left: none;

          [theme="dark"] & {
            padding: 0.4rem 1.3rem 0.4rem 2.1rem;
            border-left: none;
            background: linear-gradient(
              90deg,
              $global-background-color-dark 0%,
              $global-border-color-dark 25%,
              $global-border-color-dark 75%,
              $global-background-color-dark 100%
            );
          }
        }
      }
    }
  }

  #content-404 {
    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 680px) {

  
  .post-meta {
    flex-wrap: wrap;
    .post-meta-line {
      width: 100%;
    }
  }

  .wrapper {
    main {
      .container {
        padding: 0 0.5rem;
      }
    }
  }


  .home[data-home="posts"] {
    .summary {
      .single-title {
        margin: 0.4rem 0.5rem;
      }
      .post-meta {
        margin: 0 0.5rem 0.5rem;
      }
      .content {
        margin: 0 0.5rem 0 0.5rem;
      }
      .post-footer {
        margin: 0.4rem 0.5rem 0 0.5rem;
      }
    }
  }

  .single-card {
    padding: 0.5rem;
    margin: 0.5rem 0 0;
  }

  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page,
  .single {
    width: 100%;

    [data-header-mobile] & {
      padding-top: $header-height;
    }

    [data-header-mobile="normal"] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}
