{{- $params := .Params | merge .Site.Params.page -}}

<article class="summary" itemscope itemtype="http://schema.org/Article" {{ if ne .Site.Params.home.posts.imagePreview true }}data-image="hide"{{ end }}>
    <div class="date">
    {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
    &nbsp;<span class="post-publish">
        {{- printf `<time datetime="%v">%v</time>` . . | safeHTML -}}
    </span>
    {{- end -}}
    </div>
    
    {{- /* Featured image */ -}}
    {{- if .Site.Params.home.posts.imagePreview -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}
    {{- end -}}

    {{- /* Title */ -}}
    <h2 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- /* Meta */ -}}
        <div class="post-meta">
            {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
            {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
            <span class="post-author">
                {{- $options := dict "Class" "author" "Destination" $authorLink "Title" "Author" "Rel" "author" "Content" $author -}}
                {{- partial "plugin/link.html" $options -}}
            </span>
    
            {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
                &nbsp;<span class="post-publish">
                    {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T "publishedOnDate" | safeHTML -}}
                </span>
            {{- end -}}
    
            {{- $categories := slice -}}
            {{- range .Params.categories -}}
                {{- $category := partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
                {{- $categories = $categories | append (printf `<a href="%v">%v</a>` $category.RelPermalink $category.Title) -}}
            {{- end -}}
            {{- with delimit $categories "&nbsp;" -}}
                &nbsp;<span class="post-category">
                    {{- dict "Categories" . | T "includedInCategories" | safeHTML -}}
                </span>
            {{- end -}}
        </div>
    </h2>



    {{- /* Summary content */ -}}
    <a class="content" href="{{ .RelPermalink }}">
        {{- with .Summary -}}
            {{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}
    </a>

    {{- /* Footer */ -}}
    <div class="post-footer">
        {{- with .Params.tags -}}
            <ul class="post-tags">
                {{- range $index, $value := . -}}
                    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                    <li><a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a></li>
                {{- end -}}
            </ul>
        {{- end -}}
    </div>
</article>
