// ==============================
// Variables
// ==============================

// ========== Global ========== //
// Font and Line Height
$global-font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC,
  Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: #f8f8f8 !default;
$global-background-color-dark: #252627 !default;
$global-background-card-color: #fff !default;
$global-background-card-color-dark: #333 !default;

$global-background-home-menu-hover-color: #cacaca !default;
$global-background-home-menu-hover-color-dark: #333 !default;

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #d5d5e0 !default;

// Color of the secondary text
$global-font-secondary-color: #635f56 !default;
$global-font-secondary-color-dark: #d5d5e0 !default;

// Color of the link
$global-link-color: #161209 !default;
$global-link-color-dark: #a9a9b3 !default;

// Color of the hover link
$global-link-hover-color: #2d96bd !default;
$global-link-hover-color-dark: #fff !default;

// Color of the border
$global-border-color: #e5e5e5 !default;
$global-border-color-dark: #363636 !default;

// Color of the home-avatar
$avatar-background-color: #afc6e9 !default;
$avatar-background-color-dark: #f2f2f2 !default;
$avatar-border-color: rgba(128, 128, 128, 0.15) !default;
$avatar-border-color-dark: rgba(242, 242, 242, 0.05) !default;
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #87878d !default;

// Color of the hover scrollbar
$scrollbar-hover-color: #a9a9b3 !default;
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(53, 166, 247, 0.25) !default;
$selection-color-dark: rgba(50, 112, 194, 0.4) !default;
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem !default;

// Color of the header background
$header-background-color: #f8f8f8 !default;
$header-background-color-dark: #252627 !default;

// Font style of the header title
$header-title-font-family: $global-font-family !default;
$header-title-font-size: 1.5rem !default;

// Color of the hover header item
$header-hover-color: #161209 !default;
$header-hover-color-dark: #fff !default;

// Color of the search background
$search-background-color: #e9e9e9 !default;
$search-background-color-dark: #363636 !default;
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1rem !default;
$toc-content-font-size: 0.9rem !default;

// Color of the single link
$single-link-color: #147da4 !default;
$single-link-color-dark: #55bde2 !default;

// Color of the hover single link
$single-link-hover-color: #ef3982 !default;
$single-link-hover-color-dark: #bdebfc !default;

// Color of the table background
$table-background-color: #fff !default;
$table-background-color-dark: #272c34 !default;

// Color of the table thead
$table-thead-color: #ededed !default;
$table-thead-color-dark: #20252b !default;

// Color of the blockquote
$blockquote-color: #6bd6fd !default;
$blockquote-color-dark: #59c5ec !default;

// Color of the parameter
$skill-color: #ffffff !default;
$skill-color-dark: #505050 !default;
$level-color: #63b175 !default;
$level-color-dark: #25a780 !default;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #2d96bd !default;
$pagination-link-color-dark: #a9a9b3 !default;

// Color of the hover link in pagination
$pagination-link-hover-color: #000 !default;
$pagination-link-hover-color-dark: #fff !default;
// ========== Pagination ========== //

// ========== Code ========== //
// Color of the code
$code-color: #47575c !default;
$code-color-dark: #e5bf78 !default;

// Color of the code background
$code-background-color: #faf5e5 !default;
$code-background-color-dark: #272c34 !default;

$code-info-color: #384144 !default;
$code-info-color-dark: #b1b0b0 !default;

// Font size of the code
$code-font-size: 0.875rem !default;

// Font family of the code
$code-font-family: Jetbrains Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace,
  $global-font-family !default;

// Code type map
$code-type-map: (
  // Custom code type
  language-bash: "Bash",
  language-c: "C",
  language-cs: "C#",
  language-cpp: "C++",
  language-clojure: "Clojure",
  language-coffeescript: "CoffeeScript",
  language-css: "CSS",
  language-dart: "Dart",
  language-diff: "Diff",
  language-erlang: "Erlang",
  language-go: "Go",
  language-go-html-template: "Go HTML Template",
  language-groovy: "Groovy",
  language-haskell: "Haskell",
  language-html: "HTML",
  language-http: "HTTP",
  language-xml: "XML",
  language-java: "Java",
  language-js: "JavaScript",
  language-javascript: "JavaScript",
  language-json: "JSON",
  language-kotlin: "Kotlin",
  language-latex: "LaTeX",
  language-less: "Less",
  language-lisp: "Lisp",
  language-lua: "Lua",
  language-makefile: "Makefile",
  language-markdown: "Markdown",
  language-matlab: "Matlab",
  language-objectivec: "Objective-C",
  language-php: "PHP",
  language-perl: "Perl",
  language-python: "Python",
  language-r: "R",
  language-ruby: "Ruby",
  language-rust: "Rust",
  language-scala: "Scala",
  language-scss: "Scss",
  language-shell: "Shell",
  language-sql: "SQL",
  language-swift: "Swift",
  language-tex: "TeX",
  language-toml: "TOML",
  language-ts: "TypeScript",
  language-typescript: "TypeScript",
  language-vue: "Vue",
  language-yml: "YAML",
  language-yaml: "YAML"
) !default;

// Color map of the code highlight
$code-highlight-color-map: (
  /* LineNumbers */ "ln": #7f7f7f,
  /* Keyword */ "k": #859900,
  /* KeywordConstant */ "kc": #859900,
  /* KeywordDeclaration */ "kd": #859900,
  /* KeywordNamespace */ "kn": #dc322f,
  /* KeywordPseudo */ "kp": #859900,
  /* KeywordReserved */ "kr": #859900,
  /* KeywordType */ "kt": #859900,
  /* Name */ "n": #268bd2,
  /* NameAttribute */ "na": #268bd2,
  /* NameBuiltin */ "nb": #cb4b16,
  /* NameBuiltinPseudo */ "bp": #268bd2,
  /* NameClass */ "nc": #cb4b16,
  /* NameConstant */ "no": #268bd2,
  /* NameDecorator */ "nd": #268bd2,
  /* NameEntity */ "ni": #268bd2,
  /* NameException */ "ne": #268bd2,
  /* NameFunction */ "nf": #268bd2,
  /* NameFunctionMagic */ "fm": #268bd2,
  /* NameLabel */ "nl": #268bd2,
  /* NameNamespace */ "nn": #268bd2,
  /* NameOther */ "nx": #268bd2,
  /* NameProperty */ "py": #268bd2,
  /* NameTag */ "nt": #268bd2,
  /* NameVariable */ "nv": #268bd2,
  /* NameVariableClass */ "vc": #268bd2,
  /* NameVariableGlobal */ "vg": #268bd2,
  /* NameVariableInstance */ "vi": #268bd2,
  /* NameVariableMagic */ "vm": #268bd2,
  /* Literal */ "l": #2aa198,
  /* LiteralDate */ "ld": #2aa198,
  /* LiteralString */ "s": #2aa198,
  /* LiteralStringAffix */ "sa": #2aa198,
  /* LiteralStringBacktick */ "sb": #2aa198,
  /* LiteralStringChar */ "sc": #2aa198,
  /* LiteralStringDelimiter */ "dl": #2aa198,
  /* LiteralStringDoc */ "sd": #2aa198,
  /* LiteralStringDouble */ "s2": #2aa198,
  /* LiteralStringEscape */ "se": #2aa198,
  /* LiteralStringHeredoc */ "sh": #2aa198,
  /* LiteralStringInterpol */ "si": #2aa198,
  /* LiteralStringOther */ "sx": #2aa198,
  /* LiteralStringRegex */ "sr": #2aa198,
  /* LiteralStringSingle */ "s1": #2aa198,
  /* LiteralStringSymbol */ "ss": #2aa198,
  /* LiteralNumber */ "m": #2aa198,
  /* LiteralNumberBin */ "mb": #2aa198,
  /* LiteralNumberFloat */ "mf": #2aa198,
  /* LiteralNumberHex */ "mh": #2aa198,
  /* LiteralNumberInteger */ "mi": #2aa198,
  /* LiteralNumberIntegerLong */ "il": #2aa198,
  /* LiteralNumberOct */ "mo": #2aa198,
  /* OperatorWord */ "ow": #859900,
  /* Comment */ "c": #93a1a1,
  /* CommentHashbang */ "ch": #93a1a1,
  /* CommentMultiline */ "cm": #93a1a1,
  /* CommentSingle */ "c1": #93a1a1,
  /* CommentSpecial */ "cs": #93a1a1,
  /* CommentPreproc */ "cp": #93a1a1,
  /* CommentPreprocFile */ "cpf": #93a1a1,
  /* Generic */ "g": #d33682,
  /* GenericDeleted */ "gd": #d33682,
  /* GenericEmph */ "ge": #d33682,
  /* GenericError */ "gr": #d33682,
  /* GenericHeading */ "gh": #d33682,
  /* GenericInserted */ "gi": #d33682,
  /* GenericOutput */ "go": #d33682,
  /* GenericPrompt */ "gp": #d33682,
  /* GenericStrong */ "gs": #d33682,
  /* GenericSubheading */ "gu": #d33682,
  /* GenericTraceback */ "gt": #d33682,
  /* GenericUnderline */ "gl": #d33682
) !default;
$code-highlight-color-map-dark: (
  /* Parentheses */ "p": #a9a9b3,
  /* Keyword */ "k": #d371e3,
  /* KeywordConstant */ "kc": #d371e3,
  /* KeywordDeclaration */ "kd": #d371e3,
  /* KeywordNamespace */ "kn": #d371e3,
  /* KeywordPseudo */ "kp": #d371e3,
  /* KeywordReserved */ "kr": #d371e3,
  /* KeywordType */ "kt": #d371e3,
  /* Name */ "n": #a9b2c0,
  /* NameAttribute */ "na": #41b0f5,
  /* NameBuiltin */ "nb": #19b9c4,
  /* NameBuiltinPseudo */ "bp": #ecbf6f,
  /* NameClass */ "nc": #ecbf6f,
  /* NameConstant */ "no": #41b0f5,
  /* NameDecorator */ "nd": #ecbf6f,
  /* NameEntity */ "ni": #41b0f5,
  /* NameException */ "ne": #41b0f5,
  /* NameFunction */ "nf": #41b0f5,
  /* NameFunctionMagic */ "fm": #19b9c4,
  /* NameLabel */ "nl": #41b0f5,
  /* NameNamespace */ "nn": #41b0f5,
  /* NameOther */ "nx": #a9a9b3,
  /* NameProperty */ "py": #41b0f5,
  /* NameTag */ "nt": #41b0f5,
  /* NameVariable */ "nv": #41b0f5,
  /* NameVariableClass */ "vc": #41b0f5,
  /* NameVariableGlobal */ "vg": #41b0f5,
  /* NameVariableInstance */ "vi": #41b0f5,
  /* NameVariableMagic */ "vm": #41b0f5,
  /* Literal */ "l": #2aa198,
  /* LiteralDate */ "ld": #2aa198,
  /* LiteralString */ "s": #8cc570,
  /* LiteralStringAffix */ "sa": #8cc570,
  /* LiteralStringBacktick */ "sb": #8cc570,
  /* LiteralStringChar */ "sc": #8cc570,
  /* LiteralStringDelimiter */ "dl": #8cc570,
  /* LiteralStringDoc */ "sd": #8cc570,
  /* LiteralStringDouble */ "s2": #8cc570,
  /* LiteralStringEscape */ "se": #8cc570,
  /* LiteralStringHeredoc */ "sh": #8cc570,
  /* LiteralStringInterpol */ "si": #8cc570,
  /* LiteralStringOther */ "sx": #8cc570,
  /* LiteralStringRegex */ "sr": #8cc570,
  /* LiteralStringSingle */ "s1": #8cc570,
  /* LiteralStringSymbol */ "ss": #8cc570,
  /* LiteralNumber */ "m": #db985c,
  /* LiteralNumberBin */ "mb": #db985c,
  /* LiteralNumberFloat */ "mf": #db985c,
  /* LiteralNumberHex */ "mh": #db985c,
  /* LiteralNumberInteger */ "mi": #db985c,
  /* LiteralNumberIntegerLong */ "il": #db985c,
  /* LiteralNumberOct */ "mo": #db985c,
  /* Operator */ "o": #ecbf6f,
  /* OperatorWord */ "ow": #d371e3,
  /* Comment */ "c": #7e848f,
  /* CommentHashbang */ "ch": #7e848f,
  /* CommentMultiline */ "cm": #7e848f,
  /* CommentSingle */ "c1": #7e848f,
  /* CommentSpecial */ "cs": #7e848f,
  /* CommentPreproc */ "cp": #7e848f,
  /* CommentPreprocFile */ "cpf": #7e848f,
  /* Generic */ "g": #f16372,
  /* GenericDeleted */ "gd": #f16372,
  /* GenericEmph */ "ge": #f16372,
  /* GenericError */ "gr": #f16372,
  /* GenericHeading */ "gh": #f16372,
  /* GenericInserted */ "gi": #f16372,
  /* GenericOutput */ "go": #f16372,
  /* GenericPrompt */ "gp": #f16372,
  /* GenericStrong */ "gs": #f16372,
  /* GenericSubheading */ "gu": #f16372,
  /* GenericTraceback */ "gt": #f16372,
  /* TextWhitespace */ "w": #bbbbbb
) !default;
// ========== Code ========== //

// ========== Admonition ========== //
// Color map of the admonition
$admonition-color-map: (
  "note": #448aff,
  "abstract": #00b0ff,
  "info": #00b8d4,
  "tip": #00bfa5,
  "success": #00c853,
  "question": #64dd17,
  "warning": #ff9100,
  "failure": #ff5252,
  "danger": #ff1744,
  "bug": #f50057,
  "example": #651fff,
  "quote": #9e9e9e,
) !default;

// Color map of the admonition background
$admonition-background-color-map: (
  "note": rgba(68, 138, 255, 0.1),
  "abstract": rgba(0, 176, 255, 0.1),
  "info": rgba(0, 184, 212, 0.1),
  "tip": rgba(0, 191, 165, 0.1),
  "success": rgba(0, 200, 83, 0.1),
  "question": rgba(100, 221, 23, 0.1),
  "warning": rgba(255, 145, 0, 0.1),
  "failure": rgba(255, 82, 82, 0.1),
  "danger": rgba(255, 23, 68, 0.1),
  "bug": rgba(245, 0, 87, 0.1),
  "example": rgba(101, 31, 255, 0.1),
  "quote": rgba(159, 159, 159, 0.1),
) !default;
// ========== Admonition ========== //

$MAX_LENGTH: 12000px;
