.toc {
  .toc-title {
    font-size: $toc-title-font-size;
    font-weight: bold;
    text-transform: uppercase;
  }

  .toc-content {
    font-size: $toc-content-font-size;

    ul {
      text-indent: -0.85rem;
      padding-left: .8rem;
      list-style: none;

      a:first-child::before {
        content: "|";
        font-weight: bolder;
        margin-right: .5rem;
        color: $single-link-color;

        [theme=dark] & {
          color: $single-link-color-dark;
        }
      }

      ul {
        padding-left: 1rem;
      }
    }
  }

  ruby {
    background: $code-background-color;

    rt {
      color: $global-font-secondary-color;
    }

    [theme=dark] & {
      background: $code-background-color-dark;

      rt {
        color: $global-font-secondary-color-dark;
      }
    }
  }
}

#toc-auto {
  display: block;
  position: absolute;
  max-width: 100%;
  padding: 0 .8rem;
  @include overflow-wrap(break-word);
  box-sizing: border-box;
  left: 0;
  visibility: hidden;

  [data-header-desktop=normal] & {
    top: 5rem;
  }

  @include blur;

  [theme=dark] & {
    border-left-color: $global-font-secondary-color-dark;
  }

  .toc-title {
    margin: .8rem 0;
  }

  .toc-content {
    &.always-active ul {
      display: block;
    }

    > nav > ul {
      margin: .625rem 0;
    }

    ul {
      ul {
        display: none;
      }

      .has-active > ul {
        display: block;
      }
    }

    a.active {
      font-weight: bold;
      color: $single-link-color;

      [theme=dark] & {
        color: $single-link-color-dark;
      }

      &::before {
        color: $single-link-hover-color;

        [theme=dark] & {
          color: $single-link-hover-color-dark;
        }
      }
    }
  }
}

#toc-static {
  display: none;
  margin: .8rem 0;
  border-radius: 5px;
  overflow: hidden;

  @include box-shadow(0 .135rem .35rem rgba(0, 0, 0, .1));

  &[data-kept=true] {
    display: block;
  }

  .toc-title {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    padding: 0 .75rem;
    background: $global-background-card-color;

    [theme=dark] & {
      background: darken($code-background-color-dark, 6%);
    }
  }

  .toc-content {
    background-color: $global-background-card-color;

    > nav > ul {
      margin: 0;
      padding: .4rem 1rem .4rem 1.8rem;
    }

    [theme=dark] & {
      background-color: $code-background-color-dark;
    }
  }

  &.open {
    .toc-title {
      background: darken($global-background-card-color, 3%);

      [theme=dark] & {
        background: darken($code-background-color-dark, 3%);
      }
    }
  }
}
