footer {
  height: 2rem;
  width: 100%;
  text-align: center;
  line-height: 1.25rem;

  .footer-container {
    font-size: .875rem;
    padding: 4rem 0 2rem 0;

    .footer-line {
      width: 100%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
