.home {
  .home-hero {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    margin-bottom: 20vh;
  }

  .home-menu {
    padding: 1rem 3rem;
    font-size: 1.1rem;
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      top: -0.1rem;
      background: $single-link-color;
      content: '';
      width: 0.1rem;
      height: calc(100% + 0.1rem);
      display: block;

      [theme="dark"] & {
        background: $single-link-color-dark;
      }
    }

    .menu-item {
      min-width: 15rem;
      display: block;
      border-left: 0.1rem solid $single-link-color;
      text-transform: uppercase;
      padding: 0.4rem 1.3rem 0.4rem 2.1rem;
      @include transition(all 0.2s ease-in-out);

      [theme="dark"] & {
        border-left: 0.1rem solid $single-link-color-dark;
      }

      &:hover {
        background: linear-gradient(
          90deg,
          $global-border-color 0%,
          $global-border-color 55%,
          $global-background-color 100%
        );
        border-left: 0.4rem solid $single-link-hover-color;
        padding: 0.4rem 1.3rem 0.4rem 1.8rem;

        [theme="dark"] & {
          background: linear-gradient(
            90deg,
            $global-border-color-dark 0%,
            $global-border-color-dark 55%,
            $global-background-color-dark 100%
          );
          border-left: 0.4rem solid $single-link-hover-color-dark;
        } 
      }
    }
  }

  .home-profile {
    @include transform(translateY(23vh));
    padding: 0 0 0.5rem;
    text-align: center;
  }

  .home-avatar {
    padding: 0.5rem;

    svg {
      max-width: 10rem;
      fill: none;
      stroke: $global-font-color;

      .primary {
        stroke: $single-link-hover-color;
        opacity:0.62;

        [theme="dark"] & {
          stroke: $single-link-hover-color-dark;
          opacity: 0.16;
        }
      }

      [theme="dark"] & {
        stroke: $global-font-color-dark;
      }
    }


    img {
      background-color: $avatar-background-color;
      display: inline-block;
      width: 8rem;
      height: 100%;
      margin: 0 auto;
      @include border-radius(100%);
      @include box-shadow(0 0 0 0.3618em $avatar-border-color);
      @include transition(all 0.4s ease);
      [theme="dark"] & {
        background-color: $avatar-background-color-dark;
        @include box-shadow(0 0 0 0.3618em $avatar-border-color-dark);
      }
      &:hover {
        position: relative;
        @include transform(translateY(-0.75rem));
      }
    }
  }

  .home-title {
    line-height: 110%;
    font-size: 2.25rem;
    font-weight: bold;
    margin:0 0 0.5rem 0;
    padding: 0.1rem;
  }

  .home-subtitle {
    font-size: 1.35rem;
    font-weight: normal;
    margin:0 0 0.5rem 0;
    padding: 0.1rem;
  }

  .links {
    font-size: 1.5rem;
    padding-top: 0.25rem;

    a * {
      vertical-align: text-bottom;
      margin: 0 0.125rem 0.25rem;
    }

    img {
      height: 1.5rem;
      margin: 0 0.125rem 0.25rem;
    }
  }

  .home-disclaimer {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0.5rem;
    color: $global-font-secondary-color;

    [theme="dark"] & {
      color: $global-font-secondary-color-dark;
    }
  }
}

.home[data-home="posts"] {
  .home-profile {
    @include transform(translateY(0));
    padding-top: 2rem;
  }

  .home-avatar img {
    width: 15rem;
  }

  .summary-card {
    margin: 0 auto;
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    overflow: hidden;
  }

  .summary {
    // background-color: $global-background-card-color;
    //margin-bottom: 3.5rem;
    padding: 3rem 1rem;
    // @include border-radius(.5rem);
    color: $global-font-color;
    width: 80%;
    @include transition(transform 0.4s ease);
    // @include box-shadow(0 2px 4px -1px rgba(0, 0, 0, 0.2));

    border-bottom: solid 1px $global-border-color;

    &:first-child {
      @include border-radius( 0.8rem 0.8rem 0 0);
    }


    &:hover {
      @include transition(0.2s all ease-in-out);
      background-color: lighten($global-border-color, 5%);

      [theme="dark"] & {
        background: darken($global-border-color-dark, 4%);
      }
    }

    .date {
      display: block;
      color: $global-font-secondary-color;
      text-align: right;
      font-size: 1.1rem;
      padding-bottom: 0.5rem;

      [theme="dark"] & {
        color: $global-font-secondary-color-dark;
      }
    }

    &[data-image="hide"] {
      min-height: 13rem;
    }

    [theme="dark"] & {
      // background-color: $global-background-card-color-dark;
      border-bottom: solid 1px $global-border-color-dark;
      color: $global-font-color-dark;
    }

    .featured-image-preview {
      width: 100%;
      padding: 30% 0 0;
      position: relative;
      margin: 0 auto;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @include object-fit(none);
        @include border-radius(0.5rem);
      }

      img.lazyloaded {
        @include object-fit(cover);
      }
    }

    .single-title {
      font-style: normal;
      font-size: 1.45rem;
      line-height: 110%;
      margin: 0.4rem 1rem;
      padding-top: 1rem;
    }

    .post-meta {
      font-size: 0.875rem;
      margin: 0 1rem 1rem;
      color: $global-font-secondary-color;

      span {
        display: inline-block;
      }

      [theme="dark"] & {
        color: $global-font-secondary-color-dark;
      }

      @include link(false, true);

      .author {
        // font-size: 1.05rem;
      }
    }

    p {
      margin: 0.5rem 0;
    }

    .content {
      
      @include box(vertical);
      -webkit-line-clamp: 7;
      padding: 0 1rem 1rem 1rem;
      text-overflow: ellipsis;
      @include overflow-wrap(break-word);
      color: $global-font-secondary-color;

      [theme="dark"] & {
        color: $global-font-secondary-color-dark;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 1rem;
        line-height: 1.5;
        display: inline;

        &::after {
          content: "\A";
          white-space: pre;
        }
      }

      h2 {
        font-size: 1.125rem;
      }

      @include link(false, true);

      b,
      strong {
        color: $global-font-secondary-color;

        [theme="dark"] & {
          color: $global-font-secondary-color-dark;
        }
      }
    }

    .post-footer {
      text-align: right;
      margin: 1rem 1rem 0 1rem;
      font-size: 0.875rem;

      .post-tags {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        white-space: nowrap;
        li {
          display: inline-block;
        }

        a {
          color: $global-font-secondary-color;
          display: inline-block;
          line-height: 26px;
          padding: 0 10px;
          position: relative;
          margin: 0 5px 5px 0;
          text-decoration: none;

          @include transition(color 0.2s);
          @include border-radius(0.25rem);
          border: 1px solid;

          &::before {
            @include transition(color 0.2s);
            content: "#";
            padding-right: 0.35rem;
          }

          &:hover {
            background-color: $global-background-color;
            color: $global-link-hover-color;

            &::before {
              background-color: $global-background-color;
              color: $global-link-hover-color;
            }
          }
          [theme="dark"] & {
            color: $global-font-secondary-color-dark;
            &:hover {
              background-color: $global-background-color-dark;
              color: $global-link-hover-color-dark;

              &::before {
                background-color: $global-background-color-dark;
                color: $global-link-hover-color-dark;
              }
            }
          }
        }
      }
    }
  }
}
